<%# { "layout":"./master.html.ejs", "title":"Model Schema" } %>
<div class="container">
    <div class="col-lg-12 pt-2">
        <h1><%=model.name%></h1>
        <h4><%=model.title%></h4>
        <table class="table">
            <thead>
            <th>Name</th>
            <th>Title</th>
            <th>Description</th>
            <th>Type</th>
            <th>Primary</th>
            <th>Expandable</th>
            </thead>
            <tbody>
                <% for (var i=0;i<model.attributes.length;i++) {
                    var x = model.attributes[i];
                %>
                <tr>
                    <td><%=x.property || x.name%></td>
                    <td><%=x.title%></td>
                    <td><%=x.description|| ''%></td>
                    <% if  (html.context.model(x.type)) { %>
                    <td><a href="/model/<%=x.type%>/schema"><%=x.type%></a></td>
                    <% } else { %>
                    <td><%=x.type%></td>
                    <% } %>
                    <td class="text-center"><%=x.primary || ''%></td>
                    <td class="text-center"><%=x.expandable || ''%></td>
                </tr>
                <%}%>
            </tbody>
        </table>
    </div>
</div>


