<%# { "layout":"../shared/master.html.ejs" } %>
<div class="card">
    <div class="card-header">
        <h1 class="h5 m-0">Orders | Server-Side Rendering</h1>
    </div>
    <div class="card-block">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th><a href="<%=html.getRequestLink().orderBy("customer/familyName")%>">
                        Customer
                    </a>
                    </th>
                <th><a href="<%=html.getRequestLink().orderBy("orderedItem/name")%>">
                        Item
                    </a></th>
                <th><a href="<%=html.getRequestLink().orderBy("orderedItem/price")%>">
                        Price
                    </a></th>
                <th><a href="<%=html.getRequestLink().orderBy("orderDate")%>">
                        Order Date
                    </a></th>
            </tr>
            </thead>
            <tbody>
            <% model.forEach(function(x,k) {
                %>
            <tr>
                <th scope="row"><%=(k+1)%></th>
                <td><%=x.customer.familyName%> <%=x.customer.givenName%></td>
                <td><%=x.orderedItem.name%></td>
                <td><%=html.numeral(x.orderedItem.price).format("$0,0.00")%></td>
                <td><%=html.moment(x.orderDate).format("LLL") %></td>
            </tr>
            <%
            }) %>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-end">
                            <li class="page-item">
                                <a class="page-link" href="<%=html.getRequestLink().takePrevious(25)%>">Previous</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="<%=html.getRequestLink().take(25)%>">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="<%=html.getRequestLink().take(25).skip(25)%>">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="<%=html.getRequestLink().take(25).skip(50)%>">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link"href="<%=html.getRequestLink().takeNext(25)%>">
                                    Next</a>
                            </li>
                        </ul>
                    </nav>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

</div>